<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JC Muebles - template</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./index.css" />
    <script type="module" src="../../components/header/index.ts"></script>
    <script type="module" src="../../components/menu/index.ts"></script>
    <script type="module" src="../../components/footer/index.ts"></script>

    <script type="module" src="../../index.ts"></script>
  </head>
  <body>
    <header-custom></header-custom>
    <div class="bodyc">
      <section class="contacto">
        <div class="bienvenida__display">
          <menu-custom class="contenedor__menu"></menu-custom>
          <div class="contenedor__contenido">
            <div class="contenedor__contenido-ubi">
              <div>
                <a class="link__text" href="../../index.html">inicio </a>
              </div>
              <div>
                <p style="margin: 0">&nbsp > template</p>
              </div>
            </div>
            <h1 class="info__title">Template</h1>
          </div>
        </div>
      </section>

      <div class="btn-wsp">
        <a
          href="https://api.whatsapp.com/send?phone=5491133768206"
          target="_blank"
        >
          <img class="img_whats" src="../../assets/Whatsapp-3.png" />
        </a>
      </div>
    </div>
    <footer-custom></footer-custom>
  </body>
</html>
